
.intro{
    background: url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
.intro-content{  
    position: absolute;
    bottom:30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.btn-intro{
    border-radius: 3rem;
    min-width: 20rem;
    margin: 10px;
}
.NavBar-tmp{
    background-color: rgba(40, 133, 16, 0.788)
}